.commentbox {
  margin-top: 50rem;
}

.commentbox-input {
  display: flex;
  justify-content: center;
}

.comment-input-box {
  margin-top: 1rem;
}

.comment-list {
  margin: 2rem 20rem 2rem 20rem;
  text-align: left;
}

.qrcode-like-section {
  display: flex;
  justify-content: center;
  text-align: center;
}
.list-group {
  margin-top: 5rem;
}
