<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Mood</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="../public/css/fullpage.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/public.css" />
    <link rel="icon" type="image/png" href="../public/images/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="../public/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../public/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="../public/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="../public/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="../public/vendor/animsition/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="../public/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="../public/vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="../public/css/util.css">
    <link rel="stylesheet" type="text/css" href="../public/css/private.css">
    <link rel="stylesheet" href="../public/css/main.css">
    <link rel="stylesheet" href="../public/css/mood.css">
    <link rel="stylesheet" href="../public/css/weathercard.css">
    <link rel="stylesheet" href="../public/css/playlist.css">
</head>

<body>
    <div id="fullpage">
        <div class="section weathersection">
            <div class="card">
                <div class="weather-wrapper">
                    <span class="login100-form-title p-b-34">
                        Your Current Location
                    </span>
                    <div class="w-full text-center">
                        <a href="#" class="txt3">
                            {User's address}}
                        </a>
                    </div>
                    <div>weather icon</div>
                </div>
            </div>
            <div class="arrow bounce"><i class="fa fa-angle-down fa-5x" aria-hidden="true"></i></div>
        </div>
        <div class="section">
            {{!-- wrap up slides with handlebars --}}
            <div class="slide">
                <div class="music-player">
                    <div class="background"></div>
                    <div class="details">
                        <div id="left-side">
                            <span class="coverart">
                                <img src=""></img>
                            </span>
                            <div class="album-info">
                                <p id="artist-name">Playlist name</p>
                                <p id="album-name">description</p>
                            </div>
                        </div>
                        <div id="right-side">
                            <div class="tracklist">
                                <ol>
                                    <li>
                                        <span class="playing fa fa-play"></span>
                                        <span class="track-number">1</span>
                                        <span class="track-name">Amerika</span>
                                        <span class="track-duration">4:00</span>
                                    </li>
                                    <li>
                                        <span class="not-playing fa fa-play"></span>
                                        <span class="track-number">2</span>
                                        <span class="track-name">Something to Believe In</span>
                                        <span class="track-duration">3:48</span>
                                    </li>
                                    <li>
                                        <span class="not-playing fa fa-play"></span>
                                        <span class="track-number">3</span>
                                        <span class="track-name">Elsewhere</span>
                                        <span class="track-duration">3:44</span>
                                    </li>
                                    <li>
                                        <span class="not-playing fa fa-play"></span>
                                        <span class="track-number">4</span>
                                        <span class="track-name">Mr. Know-It-All</span>
                                        <span class="track-duration">3:11</span>
                                    </li>
                                    <li>
                                        <span class="not-playing fa fa-play"></span>
                                        <span class="track-number">5</span>
                                        <span class="track-name">Jungle Youth</span>
                                        <span class="track-duration">3:40</span>
                                    </li>
                                    <li>
                                        <span class="not-playing fa fa-play"></span>
                                        <span class="track-number">6</span>
                                        <span class="track-name">Titus Was Born</span>
                                        <span class="track-duration">4:02</span>
                                    </li>
                                    <li>
                                        <span class="not-playing fa fa-play"></span>
                                        <span class="track-number">7</span>
                                        <span class="track-name">Repeat</span>
                                        <span class="track-duration">3:05</span>
                                    </li>
                                    <li>
                                        <span class="not-playing fa fa-play"></span>
                                        <span class="track-number">8</span>
                                        <span class="track-name">Silvertongue</span>
                                        <span class="track-duration">3:17</span>
                                    </li>
                                    <li>
                                        <span class="not-playing fa fa-play"></span>
                                        <span class="track-number">9</span>
                                        <span class="track-name">Art Exhibit</span>
                                        <span class="track-duration">4:03</span>
                                    </li>
                                    <li>
                                        <span class="not-playing fa fa-play"></span>
                                        <span class="track-number">10</span>
                                        <span class="track-name">Nothing's Over</span>
                                        <span class="track-duration">4:24</span>
                                    </li>
                                    <li>
                                        <span class="not-playing fa fa-play"></span>
                                        <span class="track-number">11</span>
                                        <span class="track-name">Home of the Strange</span>
                                        <span class="track-duration">2:36</span>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="player-controls">
                        <div class="buttons">
                            <button><i class="fa fa-backward"></i></button>
                            <button><i class="fa fa-play"></i></button>
                            <button><i class="fa fa-forward"></i></button>
                            </buttons>
                        </div>
                    </div>
                </div>
                <div class="slide">Next Section</div>
            </div>

            <div class="section fp-auto-height">
                <div class="logo-small">

                </div>
                <div class="footer">
                    <div class="container-contact">
                        <p>📞(917) 291 8448 | 📪mban1@stevens.edu | 📍Stevens Institute of Technology | Made with ❤️
                            from
                            SIT </p>
                    </div>
                    <div class="container-copyright">
                        <p>© Mood. All rights reserved. Developed by group1forpatrick</p>
                    </div>
                </div>
            </div>
        </div>
        <script src="../public/js/fullpage.js"></script>
        <script>
            new fullpage("#fullpage", {
                anchors: ["page1", "page2", "page3"],
                sectionsColor: ["#ecf0f1", "", "#2d3436"],
                autoScrolling: true,
                scrollHorizontally: true,
                controlArrows: true,
                verticalCentered: true,
                responsiveWidth: 0,
                responsiveHeight: 0
            });

            //methods
            fullpage_api.setAllowScrolling(true);
        </script>
        <script src="../public/vendor/animsition/js/animsition.min.js"></script>
        <script src="../public/vendor/select2/select2.min.js"></script>
        <script>
            $(".selection-2").select2({
                minimumResultsForSearch: 20,
                dropdownParent: $('#dropDownSelect1')
            });
        </script>
        <script src="../public/vendor/daterangepicker/moment.min.js"></script>
        <script src="../public/vendor/daterangepicker/daterangepicker.js"></script>
        <script src="../public/vendor/countdowntime/countdowntime.js"></script>
        <script src="../public/js/login-main.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/0.2.1/trianglify.min.js"></script>
        <script src="../public/js/mood.js"></script>
</body>