<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Mood</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="../public/css/fullpage.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/public.css" />
    <link rel="icon" type="image/png" href="../public/images/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="../public/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/css/main.css">
    <link rel="stylesheet" href="../public/css/mood.css">
    <link rel="stylesheet" href="../public/css/profile.css">
    <style>
        .logo {
            width: 425px;
            height: 60px;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            color: #555555;
            margin-top: 7%;
            margin-left: 55%;
        }

        .login100-form {
            padding-top: 240px;
        }
    </style>
</head>

<body>
    <div id="fullpage">
        <div class="section">
            <div class="container">
                <div class="cover row">
                    <h1>Jordan Foreman</h1>
                    <button class="btn btn-sm btn-default">Change Cover Photo</button>
                </div>
                <div class="profile-img">
                    <button class="btn btn-sm btn-default">Change Picture</button>
                </div>
                <div class="row content">
                    <div class="profile col-md-3 col-xs-12">
                        <ul class="profile-links">
                            <li><i class="glyphicon glyphicon-envelope"></i> <a href="mailto:me@example.com"><i
                                        class=""></i>thejordanforeman@gmail.com</a></li>
                        </ul>
                        <hr>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus blanditiis illo
                            repellendus consequuntur laborum obcaecati molestiae necessitatibus recusandae delectus vero
                            amet, tenetur? Ex vitae sint temporibus. Ducimus rerum, eius impedit.</p>
                    </div>
                    <div class="feed col-md-9 col-xs-12">
                        <div class="media feed-item">
                            <div class="media-left">
                                <a href="#">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Don't Go In There</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo pariatur dolore animi
                                    eius doloremque assumenda!</p>
                                <ul class="item-opts">
                                    <li><a href="">Edit Details</a></li>
                                    <li><a href="">New Episode</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section fp-auto-height">
            <div class="logo-small">

            </div>
            <div class="footer">
                <div>
                    <p>📞(917) 291 8448 | 📪mban1@stevens.edu | 📍Stevens Institute of Technology | Made with ❤️
                        from
                        SIT </p>
                </div>
                <div>
                    <p>© Mood. All rights reserved. Developed by group1forpatrick</p>
                </div>
            </div>
        </div>
    </div>
    <script src="../public/js/fullpage.js"></script>
    <script>
        new fullpage("#fullpage", {
            anchors: ["page1", "page2"],
            sectionsColor: ["#ffffff", "#2d3436"],
            autoScrolling: false,
            scrollHorizontally: true,
            controlArrows: true,
            verticalCentered: true,
            responsiveWidth: 0,
            responsiveHeight: 0
        });

        //methods
        fullpage_api.setAllowScrolling(true);
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="../public/js/mood.js"></script>
</body>